{{define "nav-bar"}}
    <div class="bg-dark">
        <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2" href="/" aria-label="main">
                    <img src="https://img.icons8.com/color/48/000000/golang.png"/>
                </a>
                <div class="align-middle" style="float: right">
                    <a class="py-2 d-none d-md-inline-block mr-3 mt-2 text-info" href="/post/list" style="text-decoration: none">Posts</a>
                </div>
            </div>
        </nav>
    </div>
{{end}}